*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    margin:auto ;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}

nav img{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;


}
.dete1{
    margin-left: 8px ;
    margin-top: 15%;
    margin-left: 30px;

}

.dete1 h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: blue;
}

.dete1 p{
    color:#555 ;
    line-height: 22px;
}

.dete1 a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold ;
    color: #fff;
    display: inline-block;
    margin:30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;

}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    transition: bottom 1s , left 1s;
}

.images:hover .shapes{
    bottom: 40px;
}

.images:hover .photo{
    left: 45%;
}

.shapes{
    width: 200px;
    height: 50px;

}
.photo{
    width: 200px;
    height: 50px ;
}